
/* custom Whatsapp Web style */
._2EXPL,
.B5rWa {
    background-color: var(--background-default);
    --background-default: #7E90A3;
}

._2zynu {
    background-color: var(--intro-background);
    --intro-background: #7E90A3;
}

._3j7s9 {
    border-top: 1px solid var(--border-chatlist);
    --border-chatlist: #a2a2a2;
}

._3auIg {
    background-color: var(--panel-background);
    --panel-background: #7E90A3;
}

._2y17h {
    background-color: var(--panel-background);
    --panel-background: #8ea0b3;
    border-left: var(--border-panel);
    --border-panel: #a2a2a2;
}

._3pkkz {
    background-color: var(--rich-text-panel-background);
    --rich-text-panel-background: #8ea0b3;
}

.rRAIq {
    background-color: var(--panel-background-lighter);
    --panel-background-lighter: #8ea0b3; 
}

._2MSJr {
    background-color: var(--background-default);
    --background-default: #efefef;
}

._1Plpp {
    background-color: var(--compose-background);
    --compose-background: #efefef;
}

.MVjBr {
    background-color: var(--incoming-background);
    --incoming-background: #f8f8f8;
}

.ba6sz, 
._1x_c3, 
._2SbJ1,
._35EW6 {
    color: var(--icon);
    --icon: #eee;
}
/* ._250oe { */
/*     color: var(--primary-strong); */
/*     --primary-strong: #acacac; */
/* } */
